.expenseItem {
  margin-inline: 3rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 15px;
}
.expenseObject {
  background-image: linear-gradient(to right, #fc575e, #f7b42c);
}
.incomeObject {
  background-image: linear-gradient(to right, rgb(59, 134, 153), #20bf55);
}

.expenseItem:not(:last-child) {
  border-bottom: 1px solid grey;
}

.expenseItem p {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: rgba(245, 245, 245, 0.774);
}
.expense {
  width: 30%;
}
.total {
  display: inline-block;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 2rem;
  color: teal;
}


select {
  font: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  left: 48%;
  transform: translateX(-50%);
  margin-top: 0.4rem;
}

ion-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  color: rgb(211, 68, 68);
  cursor: pointer;
}

.expensesCard {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.expensesCard::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.expensesCard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(0deg, #bd643a81, #c5501eb4);
}
