select {
  font: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  margin-top: 0.4rem;
}

.input {
  font: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 0.4rem;
}
@media screen and (max-width: 800px) {
  .input {
    display: block;
    margin: 0.2rem auto;
  }
  select {
    display: block;
    position: relative;
    left: 50%;
  }
}
